.tooltip {  
  position: absolute;
  width: 100px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #65a9c9;
  border: 0;
  border-radius: 10px;
}

.active {
  font-family: sans-serif;
  font-weight: bold;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-family: sans-serif;
  font-weight: lighter;
  fill: #65a9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #21495c;
  cursor: pointer;
}
